*{
  margin:0;
  padding:0;
}
body{
background:lightgrey;
}
  #placeholder{
  width:650px;
  height:350px;
  background:white;
  margin:0 auto;
  margin-top:150px;
   font-size:30px;
    
}
button{
  margin-left:50%;
  color:black;
}
