body {
  background: #6441a5;
}

.logo {
  margin-top: -20px;
}

.channels {
  position: absolute;
  margin-top: 0px;
  height: 450px;
  width: 800px;
  margin-left: 25%;
  background: #0B2751;
  box-shadow: 10px 10px 50px #000;
}

.channels > div {
  font-size: 30px;
  padding: 5px;
  height: 100px;
  color: #EB9100;
}

hr {
  height: 0.1;
  background-color: #6441a5;
}

hr.vertical {
  width: 0%;
}

img.logo {
  width: 10%;
  border-radius: 50%;
  margin-top: 10px;
}
.info
{
  margin-left:50px;
  color:#FAFAFA;
  
}
a{
  color: #EB9100;
}
.row{
  font-size:20px;
  padding-right:50px;
  
}
